body{
    font-family: Arial;
    background-color: rgb(225, 216, 205);
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}
.header-container h1 {
    margin: 0;
}
.header-container nav {
    display: flex;
    gap: 20px;
}
nav a{
    padding: 10px;
}
Table{
    justify-content: center;
    margin: auto;
}
table, td{
    border: 1px solid black;
    border-collapse: collapse;
}
td, th{
    padding: 5px;
    width: 100px;
    text-align: center;
}
th{
    background-color: lightblue;
}
h2{
    display: flex;
    justify-content: center;
}
.menu-item{
    font-weight: bold;
}
.monthdishcontainer img{
    width: 350px;
    height: 400px;
}
.monthdishcontainer{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    margin: auto;
}
.monthdishcontainer a{
    text-decoration: none;
    background-color: rgb(70, 159, 231);
    padding: 10px;
    gap: 5px;
}
.price-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;   
}
.price-order a {
    background-color: lightblue;
    text-decoration: none;
    padding: 10px 20px;
}
.menu-items {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 40px;
}
.dishes-container {
    border: 1px solid black;
    width: 550px;
    height: 550px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.dishes-container h3{
    min-height: 60px;
    margin-bottom: 15px;
}
.food-image{
    width: 100%;
    height: 300px;
}
.form-flex{
    display: flex;
    justify-content: space-around;
    padding: 100px;
}
.form-flex img{
    width: 75%;
    height: 96%;
}
.form-container{
    background-color: white;
    width: 20%;
    padding: 20px;
    margin: 20px;
}
.input-container{
    margin-bottom: 20px;
}
.input-container input, .input-container select, .input-container textarea{
    width: 60%;
    padding: 5px;
}
.input-container label{
    display: inline-block;
    font-size: 12px;
    width: 80px;
}
.btn{
    background-color: rgb(70, 159, 231);
    color: white;
    padding: 15px;
}
.payment-container {
    width: 500px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border: 1px solid #ddd;
    box-shadow: 0 0 15px rgba(0,0,0,.15);
}
.payment-container p {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(70, 159, 231);
    margin-bottom: 20px;
}
fieldset{
    border: none;
    margin-bottom: 20px;
}
legend {
    color: rgb(70, 159, 231);
    font-weight: bold;
    margin-bottom: 10px;
}
input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-top: 5px;
}
.account-row {
    display: flex;
    gap: 20px;
}
.account-row div {
    flex: 1;
}
fieldset div{
    margin-bottom: 15px;
}
.payment-methods {
    display: flex;
    margin-bottom: 15px;
}
.payment-methods i{
    margin-right: 8px;
}
.payment-methods label {
    flex: 1;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(70, 159, 231);
    color: white ;
}
.payment-data {
    display: flex;
    gap: 15px;
    align-items: flex-end;
}
.payment-data div {
    flex: 1;
}
.payment-data div:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}
.payment-data div:first-child input {
    width: 120px;
}
.payment-zip {
    margin-top: 20px;
}
.payment-zip label {
    display: block;
    margin-bottom: 5px;
}
.card-row {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.card-row label {
    display: flex;
    align-items: center;
}
.card-row input,
.card-row select {
    flex: 1;
}
.btn-pay {
    width: 100%;
    background-color: rgb(70, 159, 231);
    color: white;
    border: none;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.btn-pay:hover {
    background-color: #69b81a;
}
input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-top: 5px;
}